@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Nunito:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #16262e;
  background: linear-gradient(130deg, #16262e 25%, #1b5252 54%, #187777 94%);
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
  height: 100vh;
}

main {
  width: 100%;
  text-align: center;
}

main h1 {
  margin: 1.5em 0;
  color: white;
}

main .card {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 463px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #16262e;
  margin-bottom: 2em;
  border-radius: 10px;
  -webkit-box-shadow: 12px 11px 6px -4px rgba(0, 0, 0, 0.83);
          box-shadow: 12px 11px 6px -4px rgba(0, 0, 0, 0.83);
  position: relative;
}

main .card .name {
  margin: 2em 0;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
}

main .card .details {
  position: absolute;
  bottom: 0;
  height: 76px;
  margin-top: 4em;
  margin-bottom: 3em;
  width: 80%;
  background-color: #314752;
  border-radius: 10px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 1rem;
  -webkit-box-shadow: -1px 14px 21px 2px rgba(0, 0, 0, 0.79);
          box-shadow: -1px 14px 21px 2px rgba(0, 0, 0, 0.79);
}

main .card .details .detail {
  font-weight: bold;
}

main .card .details > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .card .picture {
  position: relative;
  margin-bottom: 1.5em;
}

main .card .picture .loader {
  right: calc(50% - 40px);
  top: calc(50% - 43px);
  z-index: 2;
}

main .card .picture .characterpicture {
  border-radius: 50%;
  width: 50%;
}

.status .specie {
  text-transform: uppercase;
}

button {
  padding: 1.2em 2em;
  border-radius: 7px;
  background-color: #16262e;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */